@using FeTracker.Common.Icons
@using FeTracker.Common.Enums
@using FeTracker.Common.RazorComponents

<div class="tracker-grid">
    @foreach (var icon in Icons)
    {
        <ClickableIcon Icon=@icon />
    }
</div>

@* temp hiding of refresh button *@
@* <button class="@(HideReset ? "hidden" : "")" @onclick="@Refresh">Refresh</button> *@

@code {
    [Parameter]
    public bool HideReset { get; set; }

    List<KeyItemIcon> Icons = [];

    protected override void OnInitialized()
    {
        foreach (KeyItem iconType in Enum.GetValues<KeyItem>())
        {
            Icons.Add(new KeyItemIcon(iconType));
        }

        base.OnInitialized();
    }

    public async Task Refresh()
    {
        Icons = [];
        foreach (KeyItem iconType in Enum.GetValues<KeyItem>())
        {
            Icons.Add(new KeyItemIcon(iconType));
        }
        StateHasChanged();
    }
}
